* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body {
    font-family: 'montseratt', sans-serif;
    
}

/*.app{
    background-image: url('../assets/tree.jpg');
    background-size: cover;
    background-position: top;
    transition: 0.4 ease-out;

}*/


main {
    min-height: 100vh;
    background-image: linear-gradient(to top, rgba(0,0,0,0.3), rgba(0, 0, 0, 0.5));
    padding: 25px;
    
}

.search-box{
    width: 100%;
    margin: 0 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    }

.search-box .search-bar{
    display:block;
    width: 50%;
    padding: 15px;
   

    font-weight: bolder;
    font-size: 20px;
    color: rgb(50,50,50);

    appearance: none;
    background: none;
    border: none;
    outline: none;

    background-color: rgba(255, 255, 255, 0.85);

    border-radius: 5px 5px 5px 5px;
}

.search-box .search-bar:focus{
    background-color: rgba(255, 255, 255, 0.95);
}
.search-box .search-bar:hover{
    background-color: rgba(255, 255, 255, 0.95);
}

.location-box .location {
    color: white;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow:2px 2px rgba(50,50,50,0.5);

}

.location-box .date {
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    text-shadow:1px 1px rgba(50,50,50,0.5);

}

.weather-box{
    text-align: center;
}

.weather-box .temp {
    position: relative;
    display: inline-block;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 16px;

    padding: 15px 25px;

    color: #fff;
    font-size: 80px;
    font-weight: 700;

    text-shadow:2px 2px rgba(50,50,50,0.5);
    text-align: center;

    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.3);
}

.weather-box .weather{
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-shadow:2px 2px rgba(50,50,50,0.5);

}



/* ALERT CSS */
.alert-text {
    margin-bottom: 0px;
    
}

.alert-box{
    margin: 0 0 1rem;
}
.alert-box .card {
    flex-direction: row;
    align-items: center;
 
    background-color: rgba(250, 69, 69, 0.445);
    border-color: rgb(255, 0, 0);
  }

.alert-box .card-text {
   display: inline-block;
   text-align: left;
}

 .alert-box .card img {
    width: 2rem;
    height: 2rem;
    margin: 3px;
 }

  